

.neura-popup{
    position: fixed;
    right: 18px;
    bottom: 98px;

    width: 360px;
    min-width: 360px;
    max-width: 360px;

    height: 580px;
    min-height: 580px;
    max-height: 580px;

    border-radius: 38px;
    overflow: hidden;

    z-index: 99999;
    display: none;

    box-shadow: 0 20px 80px rgba(0,0,0,.32);
}

.neura-overlay{
    position: absolute;
    inset: 0;
}

.neura-content{
    position: relative;
    z-index: 2;

    width: 100%;
    height: 100%;

    padding: 18px 20px 14px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.neura-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.neura-orb-wrap{
    position: relative;
    margin-top: 2px;

}
.neura-orb-glow{
    position: absolute;
    inset: 0;
    transform: scale(1.8);
    border-radius: 999px;
    filter: blur(75px);
    opacity: .6;
}
.neura-orb{
    position: relative;
    width: 118px;
    height: 118px;
    border-radius:999px ;
    animation: pulse 2s infinite;
}
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}
.neura-title{
    margin-top: 14px;
    font-size: 28px;
    line-height: 1.1;
    font-weight: 700;
    text-align: center;

}
.neura-sub{
    margin-top:10px;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
}
.neura-status{
    margin-top: 18px;
    font-size: 16px;
    font-weight: 700;
}
.neura-wave{
    margin-top: 8px;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    height: 28px;
    opacity: 0;
    transition: 3s;
}
.neura-wave.active{
    opacity:1;
}
.neura-wave span{
    width: 5px;
    border-radius: 999px;
    animation : wave 1.2s infinite ease-in-out;
}

.neura-wave span:nth-child(1){
    height: 14px;
}

.neura-wave span:nth-child(2){
    height: 34px;
}

.neura-wave span:nth-child(3){
    height: 16px;
}

.neura-wave span:nth-child(4){
    height: 20px;
}

.neura-wave span:nth-child(5){
    height: 10px;
}

.neura-wave span:nth-child(6){
    height: 32px;
}
.neura-wave span:nth-child(7){
    height: 18px;
}

@keyframes wave{
    0%{
        opacity: .4;
        transform: scaleY(.8);
    }
    50%{
        opacity: 1;
        transform: scaleY(1.2);
    }
    100%{
        opacity: .4;
        transform: scaleY(.8);
    }
}

.neura-user-text{
    margin-top: 10px;
    min-height: 20px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    font-weight: 600;
}

.neura-ai-text{
    margin-top: 2px;
    text-align: center;
    min-height: 18px;
    font-size: 13px;
    line-height: 1.4;
    opacity: .82;
     
}

.neura-bottom{
    position: relative;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.neura-mic{
    position: relative;
    z-index: 2;

    width: 74px;
    height: 74px;

    border: none;
    border-radius: 999px;
    cursor: pointer;

    color: white;
    font-size: 26px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .3s;

    animation:micFloat 2.5s infinite ease-in-out
}
.neura-mic:hover{
    transform: scale(1.06);
}

@keyframes micFloat{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-4px);
    }
    100%{
        transform: translateY(0px);
    }
}

.neura-mic-icon{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* dark theme */
.theme-dark{
    background: #050816;
    border:1px solid rgba(255,255,255,.08);
}
.theme-dark .neura-overlay{
    background:
    radial-gradient(
    circle at top,
  rgba(168,85,247,.18),
    transparent 45%
    );
}

.theme-dark .neura-orb,
.theme-dark .neura-orb-glow{
background:
linear-gradient(
135deg,
#4cc9ff, #7c3aed, #ec4899
);
}
.theme-dark .neura-title{ color: white;
}
.theme-dark .neura-sub{ color: rgba(255, 255, 255,.68);
}

 .theme-dark .neura-status{
color: #22e3a6;
}
.theme-dark .neura-wave span{ background: #22e3a6; 
}
.theme-dark .neura-user-text{
color: white;
}
.theme-dark .neura-ai-text{ color: rgba(255, 255, 255,.72);
}

.theme-dark .neura-mic,
.theme-dark.neura-btn
{
background:
linear-gradient(
135deg,
#7c3aed,
#4f8cff
);

box-shadow:
 0 0 35px rgba(124,58,237,.55),
 0 0 90px rgba(79,140,255,.38),
 0 0 140px rgba(124,58,237,.22);
}

.neura-btn{
     position: fixed;
     right: 18px;
     bottom: 18px;
     width: 68px;
     height: 68px;
     border: none;
     border-radius: 999px;
     cursor: pointer;
     z-index: 999999;
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;
     transition: .3s;

}

.neura-btn img{
    width: 34px;
    height: 34px;
    object-fit: contain;

}

/* MIDNIGHT */

.theme-midnight{

background:
linear-gradient(
135deg,
#020617,
#111827,
#0f172a
);

border:1px solid rgba(99,102,241,.20);

}

.theme-midnight .neura-overlay{

background:
radial-gradient(
circle at center,
rgba(99,102,241,.15),
transparent 60%
);

}

.theme-midnight .neura-orb,
.theme-midnight .neura-orb-glow{

background:
linear-gradient(
135deg,
#6366f1,
#8b5cf6,
#3b82f6
);

}

.theme-midnight .neura-title,
.theme-midnight .neura-user-text{
color:#f8fafc;
}

.theme-midnight .neura-sub,
.theme-midnight .neura-ai-text{
color:#94a3b8;
}

.theme-midnight .neura-status{
color:#a5b4fc;
}

.theme-midnight .neura-wave span{
background:#818cf8;
}

.theme-midnight .neura-mic,
.theme-midnight.neura-btn{

background:
linear-gradient(
135deg,
#4f46e5,
#7c3aed
);

}


/* EMERALD */

.theme-emerald{

background:
linear-gradient(
to bottom,
#02120F,
#07332A,
#031B17
);

border:1px solid rgba(16,185,129,.22);

}

.theme-emerald .neura-overlay{

background:
radial-gradient(
circle at top,
rgba(0,255,180,.12),
transparent 50%
);

}

.theme-emerald .neura-orb,
.theme-emerald .neura-orb-glow{

background:
linear-gradient(
135deg,
#34d399,
#22c55e,
#a3e635
);

}

.theme-emerald .neura-title,
.theme-emerald .neura-user-text{
color:#ecfdf5;
}

.theme-emerald .neura-sub,
.theme-emerald .neura-ai-text{
color:rgba(209,250,229,.65);
}

.theme-emerald .neura-status{
color:#bef264;
}

.theme-emerald .neura-wave span{
background:#bef264;
}

.theme-emerald .neura-mic,
.theme-emerald.neura-btn{

background:
linear-gradient(
135deg,
#10b981,
#22c55e
);

}


/* GLASS */

.theme-glass{

background:
linear-gradient(
135deg,
#f8fafc,
#cbd5e1
);

backdrop-filter: blur(25px);

border:1px solid rgba(255,255,255,.40);

}

.theme-glass .neura-overlay{

background:
radial-gradient(
circle at top,
rgba(255,255,255,.55),
transparent 60%
);

}

.theme-glass .neura-orb,
.theme-glass .neura-orb-glow{

background:
linear-gradient(
135deg,
#ffffff,
#94a3b8,
#facc15
);

}

.theme-glass .neura-title,
.theme-glass .neura-user-text{
color:#0f172a;
}

.theme-glass .neura-sub,
.theme-glass .neura-ai-text{
color:#475569;
}

.theme-glass .neura-status{
color:#9333ea;
}

.theme-glass .neura-wave span{
background:#9333ea;
}

.theme-glass .neura-mic,
.theme-glass.neura-btn{

background:
linear-gradient(
135deg,
#ffffff,
#cbd5e1
);

}



/* OCEAN */

.theme-ocean{

background:
linear-gradient(
to bottom,
#02111d,
#06253a,
#0b3a52
);

border:1px solid rgba(0,255,255,.18);

}

.theme-ocean .neura-overlay{

background:
radial-gradient(
circle at bottom,
rgba(0,255,255,.12),
transparent 60%
);

}

.theme-ocean .neura-orb,
.theme-ocean .neura-orb-glow{

background:
linear-gradient(
135deg,
#67e8f9,
#60a5fa,
#0284c7
);

}

.theme-ocean .neura-title,
.theme-ocean .neura-user-text{
color:#ecfeff;
}

.theme-ocean .neura-sub,
.theme-ocean .neura-ai-text{
color:rgba(207,250,254,.7);
}

.theme-ocean .neura-status{
color:#67e8f9;
}

.theme-ocean .neura-wave span{
background:#67e8f9;
}

.theme-ocean .neura-mic,
.theme-ocean.neura-btn{

background:
linear-gradient(
135deg,
#06b6d4,
#0284c7
);

}

/* NEON */

.theme-neon{

background:black;
border:2px solid rgba(236,72,153,.25);

}

.theme-neon .neura-overlay{

background:
linear-gradient(
to right,
rgba(255,0,150,.08),
rgba(0,255,255,.08)
);

}

.theme-neon .neura-orb,
.theme-neon .neura-orb-glow{

background:
linear-gradient(
135deg,
#ec4899,
#d946ef,
#22d3ee
);

}

.theme-neon .neura-title,
.theme-neon .neura-user-text{
color:#fff;
}

.theme-neon .neura-sub,
.theme-neon .neura-ai-text{
color:rgba(255,255,255,.7);
}

.theme-neon .neura-status{
color:#f472b6;
}

.theme-neon .neura-wave span{
background:#f472b6;
}

.theme-neon .neura-mic,
.theme-neon.neura-btn{

background:
linear-gradient(
135deg,
#ec4899,
#c026d3
);

}